 div.product-card.col-xs-12 {
    width: 98%;
}
 div.product-card.col-xs-11 {
    width: 89.66666667%;
}
 div.product-card.col-xs-10 {
    width: 81.33333333%;
}
 div.product-card.col-xs-9 {
    width: 73%;
}
 div.product-card.col-xs-8 {
    width: 62.66666667%;
}
 div.product-card.col-xs-7 {
    width: 56.33333333%;
}
 div.product-card.col-xs-6 {
    width: 48%;
}
 div.product-card.col-xs-5 {
    width: 39.66666667%;
}
 div.product-card.col-xs-4 {
    width: 31.33333333%;
}
 div.product-card.col-xs-3 {
    width: 21%;
}
 div.product-card.col-xs-2 {
    width: 14.66666667%;
}
 div.product-card.col-xs-1 {
    width: 6.33333333%;
}
 div.product-card.col-sm-12 {
    width: 98%;
}
 div.product-card.col-sm-11 {
    width: 89.66666667%;
}
 div.product-card.col-sm-10 {
    width: 81.33333333%;
}
 div.product-card.col-sm-9 {
    width: 73%;
}
 div.product-card.col-sm-8 {
    width: 64.66666667%;
}
 div.product-card.col-sm-7 {
    width: 56.33333333%;
}
 div.product-card.col-sm-6 {
    width: 48%;
}
 div.product-card.col-sm-5 {
    width: 39.66666667%;
}
 div.product-card.col-sm-4 {
    width: 31.33333333%;
}
 div.product-card.col-sm-3 {
    width: 23%;
}
 div.product-card.col-sm-2 {
    width: 14.66666667%;
}
 div.product-card.col-sm-1 {
    width: 6.33333333%;
}